@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutKimi.cshtml";
    //dường dẫn
}

    <div class="container">
        <div class="maya-tiny-padding"></div>
        <div class="kimi-container">
            <!--breadcrumb start-->
            

            <div class="row">
                <div class="col-sm-6 col-md-4">
                <a href="@Url.Action("ArticlesDetails", "Home")" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                        <img src="../LayoutKimi/images/article0.jpg" alt="article title">
                    </a>
                    <div class="caption box">
                        <h3>Những Hạt Gạo Xoay Tròn</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p>Kimi Editorial's Pick</p>
                                <span class="last-text">April 18, 2023</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <a href="profile.html">
                                    <img src="../LayoutKimi/images/face1.jpg" width="40" class="pull-right img-circle">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                <a href="@Url.Action("ArticlesDetails", "Home")" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                        <img src="../LayoutKimi/images/article1.jpg" alt="article title">
                    </a>
                    <div class="caption box">
                        <h3>Thời Đại Mới</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p>Kimi Editorial's Pick</p>
                            <span class="last-text">April 19, 2023</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">

                                <img src="../LayoutKimi/images/face2.jpg" width="40" class="pull-right img-circle">

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                <a href="@Url.Action("ArticlesDetails", "Home")" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                        <img src="../LayoutKimi/images/article2.jpg" alt="article title">
                    </a>
                    <div class="caption box">
                        <h3>Khi Đàn Ông Vào Bếp</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p>Kimi Editorial's Pick</p>
                            <span class="last-text">April 17, 2023</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <a href="profile.html">
                                    <img src="../LayoutKimi/images/face3.jpg" width="40" class="pull-right img-circle">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                <a href="@Url.Action("ArticlesDetails", "Home")" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                        <img src="../LayoutKimi/images/article3.jpg" alt="article title">
                    </a>
                    <div class="caption box">
                        <h3>First Date</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p>Kimi Editorial's Pick</p>
                            <span class="last-text">April 21, 2023</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <a href="profile.html">
                                    <img src="../LayoutKimi/images/face4.jpg" width="40" class="pull-right img-circle">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                <a href="@Url.Action("ArticlesDetails", "Home")" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                        <img src="../LayoutKimi/images/article4.jpg" alt="article title">
                    </a>
                    <div class="caption box">
                        <h3>Những Chiếc Bánh Của Người Vikings</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p>Kimi Editorial's Pick</p>
                            <span class="last-text">April 13, 2023</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <a href="profile.html">
                                    <img src="../LayoutKimi/images/face3.jpg" width="40" class="pull-right img-circle">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                <a href="@Url.Action("ArticlesDetails", "Home")" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                        <img src="../LayoutKimi/images/article5.jpg" alt="article title">
                    </a>
                    <div class="caption box">
                        <h3>Pizza Ý liệu còn ngon như lời đồn ?</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p>Kimi Editorial's Pick</p>
                            <span class="last-text">April 22, 2023</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <a href="profile.html">
                                    <img src="../LayoutKimi/images/face1.jpg" width="40" class="pull-right img-circle">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
           