@model TTCM.Models.SanPhamViewModel
@using TTCM.Utility;
@{
    ViewData["Title"] = "ChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutKimi.cshtml";
}

<div class="container-fluid kimi-container less-padding">
        <div class="homepage-slider owl-carousel owl-theme">
            
        </div>
    </div>

            
<div class="container" style="background: white; padding-bottom: 50px;">
    <div class="col-md-6">
        <!--carousel-->
        <div id="main_area">
            <!-- Slider -->
            <div class="row" style="margin-top: 25px;">

                <div class="col-sm-9 less-padding">
                    <div class="col-xs-12 less-padding" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-12" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="item" data-slide-number="0">
                                            <img src="@Url.Content("../ProductImages/ImagesDoan1/"+@Model.SanPham.Anh)">
                                        </div>
                                        @foreach (var image in ViewBag.anhSanPham)
                                        {
                                            <div class="item active" data-slide-number="1">
                                                  <img src="@Url.Content("../ProductImages/ImagesDoan1/"+image.TenFileAnh)">
                                            </div>
                                        }
                                    </div>
                                    <!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/Slider-->

                <div class="col-sm-3" id="slider-thumbs">
                    <a class="thumbnail" id="carousel-selector-0">
                        <img src="@Url.Content("../ProductImages/ImagesDoan1/"+@Model.SanPham.Anh)">
                    </a>
                    @foreach (var image in ViewBag.anhSanPham)
                    {
                        <a class="thumbnail" id="carousel-selector-1">
                            <img src="@Url.Content("../ProductImages/ImagesDoan1/"+image.TenFileAnh)">
                        </a>
                    }
                </div>
            </div>

        </div>
        <!--carousel ends-->
    </div>

    <div class="col-md-6" style="position: relative;">
        <div class="bookmarked" style="display: none;"><img src="images/bookmarked.png" width="86"> </div>
        <h1>@Model.SanPham.TenDa</h1>

        <div class="row">
            <div class="col-md-10">
                @foreach (var nh in Model.ListNH)
                {
                    <a href="/Home/DoAnTheoNhaHang?maNh=@nh.MaNh" class="text-secondary"><h4>@nh.TenNhaHang</h4></a>
                    <h4>Địa Chỉ : @nh.DiaChi</h4>
                }
            </div>

        </div>


        <p class="product-description">@Model.SanPham.GhiChu</p>
        

       

        <div class="clearfix"></div>
        <form asp-action="AddToCart" asp-controller="Cart" asp-route-maDa="@Model.SanPham.MaDa">
        <div class="row">
            <div class="col-md-6">
                <h4 style="text-decoration-line:line-through;">@Model.SanPham.GiaLonNhat.ToVnd()</h4>
                <h3>@Model.SanPham.GiaNhoNhat.ToVnd()</h3>
            </div>
            <div class="col-md-6" style="padding-top: 18px;">
                <p class="pull-left" style="line-height: 35px; margin-right: 20px;">Quantity</p>
                
                    <div class="form-group pull-left">
                        </div>
                    <div class="form-group pull-left">
                        <input type="number" name="SoLuong" class="form-control number-input" value="1" id="js-quantity" style="width: 60px; border: none; font-weight: bold; font-size: 20px;">
                    </div>
                    <div class="form-group"></div>
                
            </div>
        </div>

        <div class="product-detail-action-button-container">
            <button class="btn button-add-to-bag" style="margin-right: 10px;">Add to Cart</button>
                
        </div>
        </form>

    </div>
</div>
