
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Kimi is a curated foods and beverages artisans.">
    <meta name="author" content="Philip Herlambang">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">


    <meta name="twitter:card" content="summary">
    <meta name="title" content="Back to Kimi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="en-id">


    <!-- open graph metadata facebook, slack, whatsapp line -->
    <meta property="fb:app_id" content="150112802189143" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Back to Kimi" />
    <meta property='og:site_name' content='Kimi | Curated Foods and Beverages' />
    <meta property="og:url" content="http://kimistatic.s3-website-ap-southeast-1.amazonaws.com/" />
    <meta property="og:description" content="Kimi is a curated foods and beverages artisans." />
    <meta property='og:image' content="https://s3-ap-southeast-1.amazonaws.com/kimistatic/../LayoutKimi/images/apple-touch-icon.png" />


    <!-- open graph metadata twitter -->
    <meta name="twitter:title" content="Back to Kimi">
    <meta name="twitter:url" content="http://www.backtokimi.com">
    <meta name="twitter:description" content="Kimi is a curated foods and beverages artisans.">
    <meta name="twitter:image" content="https://s3-ap-southeast-1.amazonaws.com/kimistatic/../LayoutKimi/images/apple-touch-icon.png">

    <link rel="icon" href="https://s3-ap-southeast-1.amazonaws.com/kimistatic/../LayoutKimi/images/favicon.ico">
    <link rel="apple-touch-icon" href="https://s3-ap-southeast-1.amazonaws.com/kimistatic/../LayoutKimi/images/apple-touch-icon.png">

    <title>Kimi Themes</title>

    <!-- Bootstrap core CSS -->
    <link href="./../LayoutKimi/css/bootstrap.min.css" rel="stylesheet">
    <link href="../LayoutKimi/css/kimi.css" rel="stylesheet">
    <link href="../LayoutKimi/css/font-awesome.min.css" rel="stylesheet">

    <!-- owl carousel -->
    <link rel="stylesheet" href="../LayoutKimi/css/owl_carousel/owl.carousel.css">
    <link rel="stylesheet" href="../LayoutKimi/css/owl_carousel/owl.theme.default.css">

    <!--tipue search-->
    <link rel="stylesheet" href="../LayoutKimi/css/tipuesearch/tipuesearch.css">
    @inject IHttpContextAccessor HttpContextAccessor
    
    <link rel="stylesheet" href="../LayoutKimi/css/prism/prism.css">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid hidden-xs">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <button class="pull-left search-button" id="buttonOpenSearchbar"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="pull-left search-button hide" id="buttonCloseSearchbar"><i class="fa fa-times" aria-hidden="true"></i></button>

                    <div id="searchbar" class="hide">
                        <div>
                            <div class="top-nav-searchbar">
                                <div class="input-group">
                                    <form asp-controller="TimKiem" asp-action="KetQuaTimKiem">
                                        <input class="form-control" type="text" name="txtTimKiem" id="speechToText" placeholder="Search for" onclick="record()">
                                    </form>
                                </div><!-- /input-group -->
                            </div>
                        </div>
                    </div>
                    <p class="help-text hidden-sm hidden-md" id="helpText">Find any troubles? Drop us an email at <a href="mailto:grow@backtokimi.com" class="text-secondary">grow@backtokimi.com</a> </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p class="text-center logo-container"><a href="/Home/Index"><img src="../LayoutKimi/images/logo.png" width="100"></a></p>
                </div>
                <div class="col-md-4 less-padding-right">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") == null)
                    {
                        <a asp-controller="Access" asp-action="Login" class="btn pull-right button-green-top-nav">LOGIN / REGISTER</a>
                    
                    }
                    else
                    {
                        
                        <a asp-controller="Access" asp-action="Logout" class="btn pull-right button-green-top-nav">LOGOUT</a>
                    }

                </div>
            </div>
        </div>

        <div class="container-fluid bg-white">
            <div class="navbar-header pull-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-short"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar icon-medium"></span>
                </button>
            </div>
            <div class="visible-xs logo-center">
                <p class="text-center logo-container visible-xs"><a href="/Home/Index"><img src="../LayoutKimi/images/logo.png" width="90"></a></p>
            </div>
            <div class="visible-xs pull-right">
                <button class="pull-left search-button-mobile" id="buttonOpenSearchbarMobile"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="clearfix"></div>

            <div class="fly-searchbar" style="display: none;">
                <div class="top-nav-searchbar searchbar-mobile">
                    <div class="input-group">
                        <form action="search.html">
                            <input class="form-control" type="text" name="q" id="tipue_search_input" placeholder="Search for" autofocus="autofocus">
                        </form>
                        <button class="pull-right" id="buttonCloseSearchbarMobile"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>


            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Home/Index">Home</a></li>
                    @await Component.InvokeAsync("LoaiDoAnMenu")
                    <li><a href="@Url.Action("Articles", "Home")">Chuyện Nấu Nướng</a></li>
                    <li><a href="@Url.Action("ChefGuide", "Home")">Trờ Thành Đối Tác</a></li>
                    <li><a href="@Url.Action("Question", "Home")">FAQs</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                    <li><a href="#">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</a></li>
                    @*<li><a asp-controller="Access" asp-action="Logout">Logout</a></li>*@
                    
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Cart")">Giỏ Hàng</a>
                        
                    </li>
                </ul>
            </div>
        </div>
    </nav>    
    
                @RenderBody()
            

        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <p class="text-center">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/svg/pilih_menu.svg" width="120" />
                <h5 class="text-roboto text-center">Chọn thực đơn bạn muốn</h5>
                </p>
            </div>
            <div class="col-md-2">
                <p class="text-center">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/svg/atur_jadwal.svg" width="120" />
                <h5 class="text-roboto text-center">Đặt lịch trình và địa chỉ giao hàng</h5>
                </p>
            </div>
            <div class="col-md-2">
                <p class="text-center">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/svg/approval.svg" width="120" />
                <h5 class="text-roboto text-center">Chờ xác nhận</h5>
                </p>
            </div>
            <div class="col-md-2">
                <p class="text-center">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/svg/pay.svg" width="120" />
                <h5 class="text-roboto text-center">Thanh toán</h5>
                </p>
            </div>
            <div class="col-md-2">
                <p class="text-center">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/svg/nikmati.svg" width="120" />
                <h5 class="text-roboto text-center">Thưởng thức đơn đặt hàng theo cách riêng của bạn</h5>
                </p>
            </div>
        </div>

    </div><!-- /.container -->

    <div class="clearfix maya-tiny-padding"></div>
    <div class="container mobile-full-width-slider">
        <h2 class="default-userProductList-InfoBar-title text-center"><i class="fa fa-heart-o" aria-hidden="true"></i> Featured Merchant</h2>
        <div class="featured-merchant-slider owl-carousel owl-theme">
            <div class="item">
                <!--<div class="scrim"></div>-->
                <!--<p>Sucicakes</p>-->
                <img src="../LayoutKimi/images/sucicakes_logo.png" class="img-rounded" width="100%">
            </div>

            <div class="item">
                <!--<div class="scrim"></div>-->
                <!--<p>Nasi Bakar 58</p>-->
                <img src="../LayoutKimi/images/nasi_bakar_logo.jpg" class="img-rounded" width="100%">
            </div>

            <div class="item">
                <!--<div class="scrim"></div>-->
                <!--<p>LL Ball</p>-->
                <img src="../LayoutKimi/images/llball_logo.JPG" class="img-rounded" width="100%">
            </div>

            <div class="item">
                <!--<div class="scrim"></div>-->
                <!--<p>LL Ball</p>-->
                <img src="../LayoutKimi/images/deliciozo_logo.jpg" class="img-rounded" width="100%">
            </div>

            <div class="item">
                <!--<div class="scrim"></div>-->
                <!--<p>LL Ball</p>-->
                <img src="../LayoutKimi/images/bakmi_48_logo.jpg" class="img-rounded" width="100%">
            </div>

            <div class="item">
                <!--<div class="scrim"></div>-->
                <!--<p>LL Ball</p>-->
                <img src="../LayoutKimi/images/llball_logo.JPG" class="img-rounded" width="100%">
            </div>

            <div class="item">
                <!--<div class="scrim"></div>-->
                <!--<p>LL Ball</p>-->
                <img src="../LayoutKimi/images/fans_logo.png" class="img-rounded" width="100%">
            </div>

        </div>
    </div>
    <div class="clearfix maya-small-padding"></div>

    


    <!--include footer-->
    <div class="include-footer"></div>
    @await Html.PartialAsync("Footer")

    <script src="./../LayoutKimi/js/jquery.min.js"></script>

    <!-- owl carousel -->
    <script src="../LayoutKimi/js/owl_carousel/owl.carousel.js"></script>

    <!--boostrap js-->
    <script>window.jQuery || document.write('<script src="../../assets/../LayoutKimi/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./../LayoutKimi/js/bootstrap.min.js"></script>
    
    <!--tipuesearch-->
    <script src="../LayoutKimi/js/tipusearch/tipuesearch_content.js"></script>
    <script src="../LayoutKimi/js/tipusearch/tipuesearch_set.js"></script>
    <script src="../LayoutKimi/js/tipusearch/tipuesearch.js"></script>

    <script src="../LayoutKimi/js/prism/prism.js"></script>
    <script>
        function record() {
            var recognition = new webkitSpeechRecognition();
            recognition.lang = 'vi-VN';

            recognition.onresult = function (event) {
                // console.log(event);
                document.getElementById('speechToText').value = event.results[0][0].transcript;
            }
            recognition.start();

        }
    </script>
    <!--kimi basic js-->
    <script src="../LayoutKimi/js/kimi.js"></script>
    

</body>
</html>
